:root {
  --font-booton: "Booton", system-ui, sans-serif;
  font-family: var(--font-booton);
  --alien-color-primary: #2979ff;
  --alien-color-primary-tinted: rgba(41, 121, 255, 0.16);
  --alien-color-secondary: rgba(141, 141, 141, 0.24);
  --alien-color-disabled-bg: rgba(141, 141, 141, 0.16);
  --alien-color-disabled-text: rgba(141, 141, 141, 0.24);
  --alien-color-text-on-primary: #ffffff;
}
